@import 'mixins';

.about-our-team {
    min-height: 800px;
    @include flexCenter(column);
    align-items: flex-start;
    p {
        font-size: 18px;
        max-width: 280px;
        @media (min-width: 658px) {
            max-width: 450px;
        }
    }
}