@import 'mixins';

.contact {
    height: 100%;
    min-height: 800px;
    @include flexCenter(column);
    align-items: flex-start;
    .page-wrapper {
        @include flexCenter(column);
        color: black;
        // padding-top: 100px;
        // height: 500px;
    //    min-height: 800px;
    min-height: 600px;
    width: 100vw;
    left: 0;
       background-color: whitesmoke;
        // &:before {
        //     // margin-top: 250px;
        //     content: "";
        //     position: absolute;
        //     width: 100%;
        //     height: 100%;
        //     background-color: black;
        //     z-index: -1;
        //     opacity: .5;
        //     border-radius: 4px;
        //     @media (min-width: 868px) {
        //         height: 100%;
        //         // width: 650px;
        //     }
        // }
    }
    p {
        font-size: 25px;
    }
    h2 {
        font-size: 25px;
        margin-block-start: 0;
        margin-block-end: 0;
    }
    span {
        font-size: 20px;
    }

    @media (min-width: 658px) {
        h2 {
            font-size: 35px;
        }
        span {
            font-size: 25px;
        }
        p {
            font-size: 30px;
        }
    }
}