@import 'mixins';

footer {
    bottom: 0;
    // left: 0;
    // right: 0;
    width: 100vw;
    @include flexCenter(row);
    // background-color: #040b22;
    background-color: #1f334d;
    justify-content: space-around;
    // opacity: .9;
    color: white;
    padding: 5px 10px 50px 5px;
    z-index: 100;
    font-size: 10px;
    box-shadow: 10px 10px 10px 12px #333;
    // padding-top: 100px;
    h2 {
        padding: 10px 20px 0 0;
        &:nth-child(2) {
        max-width: 100px;
        color: gray;
        // border: 1px solid red;
    }
    }
    @media (min-width: 658px) {
        padding: 5px 10px 5px 10px;
        font-size: 12px;
    }
}