@import 'mixins';

footer {
    bottom: 0;
    // left: 0;
    // right: 0;
    width: 100vw;
    @include flexCenter(row);
    background-color: black;
    justify-content: space-around;
    opacity: .9;
    color: white;
    padding: 5px 10px 5px 10px;
    z-index: 100;
    font-size: 12px;
    box-shadow: 10px 0px white;
    @media (min-width: 658px) {
        font-size: 18px;
    }
}