@import 'mixins';

.jyUYLR {
    z-index: 1;
}

div.hero {
    @include flexCenter(column);
    width: 100%;
    right: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    color: white;
    letter-spacing: 1px;
    z-index: 1 !important;
    height: 100%;
    min-height: 500px;
    padding: 0 0 10% 0;
    h2 {
        top: 0;
        font-weight: 600;
        font-size: 50px;
        margin-block-start: 0;
        margin-block-end: 0;
        // text-shadow: 3px 3px 2px #fff;
        &:nthChild(1) {
            padding-right: 100px;
        }
    }

    h3 {
        font-size: 25px;
    }
    @media (min-width: 658px) { 
        font-size: 50px;
        float: right;
        justify-content: center !important;
        align-items: flex-end;
        h2, h3 {
            padding: 0 20% 0 0%;
        }
    }
}

div.info-block {
    @include flexCenter(column);
    margin-top: 100px;
    align-items: center;
    height: 500px;
    padding: 30px 10px 30px 10px;
    div.image-container img {
        background: transparent !important;
        width: 100%;
        border-radius: 3px;
        min-height: 200px;
        min-width: 300px;
        // max-height: 400px;
    }
    div.image-container {
        @include flexCenter(column);
        width: 50%;
        max-width: 400px;
        // max-height: auto;
    }

    p {
        max-width: 450px;
        font-size: 20px;
        color: white;
    }

    @media (min-width: 868px) {
        flex-direction: row;
        
        div.image-container img {
            max-width: 450px;
        }
    }

    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 700px;
        background-color: black;
        z-index: -1;
        opacity: .5;
        @media (min-width: 868px) {
            height: 500px;
        }
    }
}

div.image-left {
    margin-top: 100px;
    z-index: 5;
    height: 500px;
    margin-bottom: 100px;
    p {
        color: white !important;
        padding: 0 5px 0 50px;
    }

    img {
        max-height: 400px !important;
    }

    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 500px;
        background-color: black;
        z-index: -1;
        opacity: .5;
        @media (max-width: 868px) {
            height: 700px
        }
    }
    @media (max-width: 868px) {
        margin-top: 200px;
    }
}

div.image-right {
    flex-direction: column-reverse;
    padding: 0 20px 0 20px;
    @media (min-width: 658px) {
        flex-direction: row-reverse;
    }
}

div.video-block {
   height: 500px;
   margin-bottom: 20px;
   @include flexCenter(column);
   justify-content: center;
   p {
    padding-left: 30px;
   }

   iframe {
    // padding: 10px;
    z-index: 5;
    max-width: 600px;
   }

   .video-container div > div {
       max-width: 600px;
       @include flexCenter(column)
   }

   &:before {
    content: "";
        position: absolute;
        margin-bottom: 20px;
        width: 100%;
        height: 550px;
        background-color: black;
        z-index: -1;
        opacity: .5;
        overflow-x: hidden;
}

.video-container {
    width: 100% !important;
}
.video-container {
    max-width: 600px;
}
@media (min-width: 868px) {
    iframe {
        width: 80%;
    }
    flex-direction: row;
}
}


