@import 'mixins';

.img-page-header {
    background-image: url(/src/assets/images/lightning-background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: initial;
    background-size: cover;
    width: 100vw;
    height: 50%;
    z-index: -1;
    padding-top: 130px;
    overflow-x: hidden;
    // margin-top: 125px;
    // @include flexCenter(column);
    position: absolute;
    top: 0;
    left: 0;
    // padding-left: 20px;
    h2 {
        // margin-top: 120px;
        color: whitesmoke;
    }
    @media (min-width: 658px) {
        // padding-left: 35px;
        // background-attachment: fixed;
        h2 {
            // margin-top: 140px;
            padding-left: 200px;
        }
    }
}

.page-view-wrapper {
    margin-top: 3100px;
    // overflow-x: hidden;
    @include flexCenter(column);
     width: 100%;
     height: 100%;
     background-color: #c5cdd9;
     .light-div {
         background-color: #c5cdd9;
     }
     .dark-div {
         background-color: whitesmoke;
     }
    .page-div {
        @include flexCenter(column);
        min-height: 800px;
        width: 100%;
       
        z-index: 100;
        @media (min-width: 658px) {
            @include flexCenter(row);
            min-height: 500px;
        }
        img {
            box-shadow: -4px -3px 45px 21px rgba(0,0,0,0.2);
            max-width: 100%;
            margin: 0px 0 0 -20px;
             @media (min-width: 520px) {
                max-width: 380px;
                margin-right: 15px;
            }
        }
        .page-div-text-container {
            display: flex;
            flex-direction: column;
            padding: 25px;
        }
    }
    @media (min-width: 658px) {
        margin-top: 1500px;
        img {

        }
    }
}

.learn-more {
    margin-top: 200px;
    @include flexCenter(column);
   
    p {
        max-width: 400px;
        font-size: 18px !important;
    }


.page-wrapper {
    @include flexCenter(column);
    color: #333;
    height: 100%;
    // min-height: 800px;
    // &:before {
    //     content: "";
    //     position: absolute;
    //     width: 100%;
    //     height: 100%;
    //     background-color: black;
    //     z-index: -1;
    //     opacity: .5;
    //     border-radius: 4px;
    //     @media (min-width: 868px) {
    //         height: 100%;
    //     }
    // }
   
}

p {
    max-width: 380px;
    font-size: 28px;
    @media (min-width: 658px) {
        max-width: 750px;
        font-size: 38px;
    }
}

h2 {
    font-size: 25px;
    margin-block-start: 0;
    margin-block-end: 0;
    max-width: 750px;
}
span {
    font-size: 20px;
}

@media (min-width: 658px) {
    h2 {
        font-size: 33px;
    }
    span {
        font-size: 25px;
    }
    p {
        font-size: 30px;
    }
}

}