@import 'mixins';
@import 'nav';
@import 'hero';
@import 'variables';
@import 'footer';
@import 'contact';
@import 'learnMore';
@import 'aboutOurTeam';

.hero{
    // @include flexCenter();
    // background: $primaryBG;
    // font-size: 300px;
    // height: 100vh;
    // z-index: 1;
}

header {
    background-color: transparent;
}

main {
    background: transparent !important;
    overflow-x: hidden;
}

.root {
    // overflow: hidden;
}

.App {
    background-color: transparent;
  }

.krIRUZ {
    z-index: 1 !important;
}

html {
    font-family: 'Open Sans', sans-serif;
    background: transparent !important;
    height: 100%;
    overflow: hidden;
  width: 100%;
}

body {
    background: transparent !important;
    min-height: 100vh;
    height: 100%;
    position: fixed;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.App {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

body, html {
    height: 100%;
}
  
  // background scroll styles

.parallax__video {
    opacity: .8;
}

.parallax {
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
    // background-color: #040b22;
    background-color: #384a61;
  }

  .parallax__layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .parallax__layer--base {
    @include flexCenter(column);
    transform: translateZ(0);
    z-index: 10;
    @media (min-width: 768px) {
        flex-direction: row;
    }
}
.parallax__layer--back {
    // background-color: #040b22;
    background-color: #384a61;
        transform: translateZ(-1px);
    transform: translateZ(-1px) scale(2.01);
    position: relative;
    z-index: -1;
    margin-top: 620px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    &:before {
            content: "";
            position: absolute;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: black;
            z-index: -5;
            opacity: .45;
            min-height: 700px;
            @media (min-width: 868px) {
                min-height: 500px;
                opacity: .65;
            }
        }

  }
  .parallax__group {
    position: relative;
    height: 100vh;
    transform-style: preserve-3d;
    color: #FFFFEA;
    .group-one {
        background-color: none;
            margin-top: 0 !important;
            video {
                position: absolute;
                top: 0;
                min-height: 100vh;
                min-width: 100vw;
                width: 100vw;
                height: 100vh;
                left: 0;
                right: 0;
            }
            .parallax__layer--base {
                margin-top: 0 !important;
            }
        
    }
    .blue-bg {
        // background-color: #040b22;
        // margin-top: 5%;
        // background-color: #384a61;
        background-color: transparent;
        min-height: fit-content;
        p {
            margin-block-start: 0em;
            margin-block-end: 0em;
            font-size: 18px;
            max-width: 300px;
            text-align: left;
            @media (min-width: 658px) {
                max-width: 600px;
                font-size: 28px;
            }
        }
        h1 {
            margin-block-start: 0em;
            margin-block-end: 0em;
        }
        @media (min-width: 768px) {
            margin-top: 5%;
            max-height: 50%;
            min-height: 500px;
        }
            
    }
  }

.wrapper {
    position: relative;
    perspective: 1px;
    height: 100vh;
    font-family: 'Quicksand', sans-serif;
    line-height: 1.5;
    word-spacing: 4px;
    letter-spacing: 1px;
    transform-style: preserve-3d;

}
  /* first section */
  .bg-2, .bg-3, .bg-4 {
  
  }
  .bg-1 {
    background: transparent;
  }
  
  /* third section */
  
  .bg-2 {
    // background-image: url(/src/assets/images/outdoor-lj.jpg);
    margin-top: 320px !important;
    background-color: #161e27;
    @media (min-width: 768px) {

    }
  }
  
  /* fifth section */
  
  .bg-3 {
      background-image: url(/src/assets/images/lightning-background.jpg)
}
.bg-4 {
    background-color: #161e27;
}

.bg-5 {
      background-image: url(/src/assets/images/lj-closeup.jpg);
  }

.text-overlay {
    div {
        min-height: 800px !important;
        min-width: 100vw;
        color: #FFFFEA;
    }
}
  
.contact, .learn-more {
    // background-image: url(/src/assets/images/lj-closeup.jpg);
    background-color: #f1f2f4;
    height: 100vh;
    min-height: 800px;
    // scroll-behavior: none;
    background-position: center center;
    background-repeat: no-repeat;
    // background-attachment: fixed;
    background-size: cover;
    opacity: .8;
    z-index: -1;
  }
  
  /* For mobile devices */
  @media only screen and (max-width: 767px) {
    .contact, .learn-more {
    // background-image: url(/src/assets/images/lj-closeup.jpg);
    background-position: scroll;
    @media (hover: none) {
        background-attachment: initial;
    }
    }
      }

      

