nav {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  /* align-items: center; */
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  /* width: 90%; */
  width: auto;
  z-index: 1500;
  font-size: large;
}

header {
  width: 100%;
}

nav ul li {
  list-style: none;
}

.logo {
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding-right: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
  /* margin-right: .5em; */
  font-size: 1.4em;
  /* overflow-y: hidden; */
  /* border-radius: 20px; */
  height: auto;
  padding: 0 0 1em 0;
}

nav ul li.right-side-nav {
  color: black;
}

.right-side-nav {
  float: right;
  margin-right: 0;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
}

li.right-side-nav:hover {
  -webkit-transition: .4s ease-in;
  transition: .4s ease-in;
  cursor: pointer;
}

.end {
  margin-right: 1em;
}

.logo-text-left {
  vertical-align: top;
  margin-left: 5px;
  min-width: 170px;
  max-width: 170px;
}

.logo-text-right {
  vertical-align: top;
  margin-top: 10px;
  padding-top: 10px;
}

a {
  color: black !important;
}

.jyUYLR {
  z-index: 1;
}

div.hero-info-div {
  min-height: 200px !important;
}

@media (min-height: 900px) {
  div.hero-info-div {
    min-height: 300px;
  }
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
  -o-object-fit: fill;
     object-fit: fill;
  min-height: 600px;
  min-width: 320px;
  opacity: .68;
}

.fullscreen-bg video {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 600px;
  min-width: 320px;
}

@media (min-width: 658px) {
  .fullscreen-bg video {
    -o-object-fit: fill;
       object-fit: fill;
  }
}

div.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 100%;
  right: 0;
  top: 0;
  align-items: center;
  color: #FFFFEA;
  letter-spacing: 1px;
  z-index: 0 !important;
  height: 100%;
  min-height: 800px;
  /* font-family: 'Righteous', cursive; */
  /* font-family: 'Monoton', cursive; */
}

div.hero h2 {
  font-family: 'Reem Kufi', sans-serif;
  top: 0;
  font-weight: 600;
  font-size: 45px;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

div.hero h2:nthChild(1) {
  padding-right: 100px;
}

div.hero h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 22px;
  font-family: 'Reem Kufi', sans-serif;
}

@media (max-width: 762px) {
  div.hero {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-right: 50px;
    margin-top: 100px;
  }
}

@media (min-width: 762px) {
  div.hero {
    margin-top: 125px;
    float: right;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  div.hero h2 {
    font-size: 100px;
  }
  div.hero h3 {
    font-size: 55px;
    max-width: 320px;
    padding-right: 30%;
    -webkit-margin-before: 0;
            margin-block-start: 0;
    -webkit-margin-after: 0;
            margin-block-end: 0;
  }
  div.hero h2 {
    padding: 0 20% 0 20%;
  }
}

div.info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
  align-items: center;
  height: 500px;
  padding: 30px 10px 30px 10px;
}

div.info-block div.image-container img {
  background: transparent !important;
  width: 100%;
  border-radius: 3px;
  min-height: 200px;
  min-width: 300px;
}

div.info-block div.image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  max-width: 400px;
}

div.info-block p {
  max-width: 450px;
  font-size: 20px;
  color: white;
}

@media (min-width: 868px) {
  div.info-block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  div.info-block div.image-container img {
    max-width: 450px;
  }
}

div.info-block:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 700px;
  z-index: -1;
  opacity: .5;
}

@media (min-width: 868px) {
  div.info-block:before {
    height: 500px;
  }
}

.info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.info-container p {
  max-width: 280px;
}

.info-container h1 {
  padding: 15px;
}

.info-container img {
  max-width: 250px;
  padding-top: 10px;
}

.info-container div {
  padding: 15px;
  max-width: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 658px) {
  .info-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .info-container p {
    max-width: 320px;
  }
  .info-container img {
    max-width: 400px;
  }
  .info-container div {
    max-width: 550px;
  }
}

div.video-block {
  height: 500px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-content: center;
}

div.video-block p {
  padding-left: 30px;
}

div.video-block iframe {
  z-index: 5;
  max-width: 600px;
}

div.video-block .video-container div > div {
  max-width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div.video-block:before {
  content: "";
  position: absolute;
  margin-bottom: 20px;
  width: 100%;
  height: 550px;
  z-index: -1;
  opacity: .5;
  overflow-x: hidden;
}

div.video-block .video-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 658px) {
  div.video-block .video-info-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

div.video-block .video-container {
  width: 100% !important;
}

div.video-block .video-container iframe {
  max-width: 300px;
}

@media (min-width: 868px) {
  div.video-block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  div.video-block iframe {
    width: 80%;
  }
}

div.hero-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  flex-direction: column !important;
  width: 100%;
  min-height: 700px !important;
  color: #FFFFEA;
}

div.hero-info-container i {
  padding: 10px;
}

div.hero-info-container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
  justify-content: center;
}

div.hero-info-container p {
  text-align: center;
  max-width: 280px;
  font-size: 15px;
}

@media (min-width: 658px) {
  div.hero-info-container p {
    max-width: 300px;
    font-size: 18px;
  }
}

@media (min-width: 769px) {
  div.hero-info-container {
    min-height: 800px;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
  }
  div.hero-info-container div {
    padding: 20px;
  }
}

footer {
  bottom: 0;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #1f334d;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: white;
  padding: 5px 10px 50px 5px;
  z-index: 100;
  font-size: 10px;
  -webkit-box-shadow: 10px 10px 10px 12px #333;
          box-shadow: 10px 10px 10px 12px #333;
}

footer h2 {
  padding: 10px 20px 0 0;
}

footer h2:nth-child(2) {
  max-width: 100px;
  color: gray;
}

@media (min-width: 658px) {
  footer {
    padding: 5px 10px 5px 10px;
    font-size: 12px;
  }
}

.contact {
  height: 100%;
  min-height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact .page-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: whitesmoke;
  height: 100%;
  min-height: 800px;
}

.contact .page-wrapper:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 600px;
  background-color: black;
  z-index: -1;
  opacity: .7;
  border-radius: 4px;
}

@media (min-width: 868px) {
  .contact .page-wrapper:before {
    height: 600px;
  }
}

.contact p {
  font-size: 25px;
}

.contact h2 {
  font-size: 25px;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

.contact span {
  font-size: 20px;
}

@media (min-width: 658px) {
  .contact h2 {
    font-size: 35px;
  }
  .contact span {
    font-size: 25px;
  }
  .contact p {
    font-size: 30px;
  }
}

.learn-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.learn-more p {
  max-width: 400px;
  font-size: 18px !important;
}

.learn-more .page-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: whitesmoke;
  height: 100%;
  min-height: 800px;
}

.learn-more .page-wrapper:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 600px;
  background-color: black;
  z-index: -1;
  opacity: .5;
  border-radius: 4px;
}

@media (min-width: 868px) {
  .learn-more .page-wrapper:before {
    height: 600px;
  }
}

.learn-more .page-wrapper p {
  max-width: 280px;
}

@media (min-width: 658px) {
  .learn-more .page-wrapper p {
    max-width: 450px;
  }
}

.learn-more p {
  font-size: 25px;
}

.learn-more h2 {
  font-size: 25px;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

.learn-more span {
  font-size: 20px;
}

@media (min-width: 658px) {
  .learn-more h2 {
    font-size: 35px;
  }
  .learn-more span {
    font-size: 25px;
  }
  .learn-more p {
    font-size: 30px;
  }
}

.about-our-team {
  min-height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-our-team p {
  font-size: 18px;
  max-width: 280px;
}

@media (min-width: 658px) {
  .about-our-team p {
    max-width: 450px;
  }
}

header {
  background-color: transparent;
}

main {
  background: transparent !important;
  overflow-x: hidden;
}

.App {
  background-color: transparent;
}

.krIRUZ {
  z-index: 1 !important;
}

html {
  font-family: 'Open Sans', sans-serif;
  background: transparent !important;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

body {
  background: transparent !important;
  min-height: 100vh;
  height: 100%;
  position: fixed;
  /* prevent overscroll bounce*/
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.App {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

body, html {
  height: 100%;
}

.parallax__video {
  opacity: .8;
}

.parallax {
  -webkit-perspective: 1px;
          perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #384a61;
}

.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.parallax__layer--base {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  z-index: 10;
}

@media (min-width: 768px) {
  .parallax__layer--base {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.parallax__layer--back {
  background-color: #384a61;
  -webkit-transform: translateZ(-1px);
          transform: translateZ(-1px);
  -webkit-transform: translateZ(-1px) scale(2);
          transform: translateZ(-1px) scale(2);
  position: relative;
  z-index: -1;
  margin-top: 620px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
}

.parallax__layer--back:before {
  content: "";
  position: absolute;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: -5;
  opacity: .6;
  min-height: 700px;
}

@media (min-width: 868px) {
  .parallax__layer--back:before {
    min-height: 500px;
  }
}

.parallax__group {
  position: relative;
  height: 100vh;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  color: #FFFFEA;
}

.parallax__group .group-one {
  background-color: none;
  margin-top: 0 !important;
}

.parallax__group .group-one video {
  position: absolute;
  top: 0;
  min-height: 100vh;
  min-width: 100vw;
  width: 100vw;
  height: 100vh;
  left: 0;
  right: 0;
}

.parallax__group .group-one .parallax__layer--base {
  margin-top: 0 !important;
}

.parallax__group .blue-bg {
  margin-top: 8%;
  background-color: transparent;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
}

.parallax__group .blue-bg p {
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
}

.parallax__group .blue-bg h1 {
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
}

@media (min-width: 768px) {
  .parallax__group .blue-bg {
    max-height: 50%;
    min-height: 500px;
  }
}

.wrapper {
  position: relative;
  -webkit-perspective: 1px;
          perspective: 1px;
  height: 100vh;
  font-family: 'Quicksand', sans-serif;
  line-height: 1.5;
  word-spacing: 4px;
  letter-spacing: 1px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

/* first section */
.bg-1 {
  background: transparent;
}

/* third section */
.bg-2 {
  background-image: url(/src/assets/images/outdoor-lj.jpg);
  margin-top: 320px !important;
  background-color: #384a61;
}

/* fifth section */
.bg-3 {
  background-image: url(/src/assets/images/lj-closeup.jpg);
}

.bg-4 {
  background-image: url(/src/assets/images/lightning-background.jpg);
}

.text-overlay div {
  min-height: 800px !important;
  min-width: 100vw;
  color: #FFFFEA;
}

.fixed-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  left: 0;
  background-color: #384a61;
  min-height: 800px;
  height: 100%;
  width: 100%;
  z-index: -1;
  color: #FFFFEA;
  text-align: center;
  opacity: 1;
}

.fixed-bg div {
  height: 100vh;
  min-height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.fixed-bg div p {
  max-width: 70%;
}

@media (min-width: 658px) {
  .fixed-bg p {
    max-width: 500px;
  }
}

.fixed-bg h1 {
  display: table-cell;
  vertical-align: middle;
  overflow: wrap;
  max-width: 320px;
  font-size: 25px;
}

@media (min-width: 658px) {
  .fixed-bg h1 {
    max-width: 600px;
    font-size: 60px;
  }
}

.scroll-bg {
  background-color: #02081a;
  padding: 10px 30px;
  height: 90vh;
  min-height: 800px;
  color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-content: center;
}

.scroll-bg img {
  max-width: 250px;
}

.scroll-bg p.image-p {
  max-width: 450px;
}

@media (min-width: 658px) {
  .scroll-bg p.image-p {
    padding: 0 0 0 50px;
  }
}

@media (min-width: 658px) {
  .scroll-bg div h1 {
    padding: 0 0 0 50px;
  }
}

.scroll-bg div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.scroll-bg .video-container {
  max-width: 250px;
  width: 100%;
}

@media (min-width: 658px) {
  .scroll-bg .video-container {
    max-width: 450px;
    height: 350px;
  }
}

.scroll-bg .video-container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-height: 100%;
}

@media (min-width: 658px) {
  .scroll-bg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 20px 70px;
  }
  .scroll-bg img {
    max-width: 350px;
  }
}

.contact, .learn-more {
  /* Location of the image */
  background-image: url(/src/assets/images/lj-closeup.jpg);
  height: 100vh;
  min-height: 800px;
  scroll-behavior: none;
  /* Image is centered vertically and horizontally at all times */
  background-position: center center;
  /* Image doesn't repeat */
  background-repeat: no-repeat;
  /* Makes the image fixed in the viewport so that it doesn't move when 
       the content height is greater than the image height */
  background-attachment: fixed;
  /* This is what makes the background image rescale based on its container's size */
  background-size: cover;
  /* Pick a solid background color that will be displayed while the background image is loading */
  opacity: .8;
  z-index: -1;
  /* SHORTHAND CSS NOTATION
     * background: url(background-photo.jpg) center center cover no-repeat fixed;
     */
}

/* For mobile devices */
@media only screen and (max-width: 767px) {
  .contact, .learn-more {
    /* The file size of this background image is 93% smaller
       * to improve page load speed on mobile internet connections */
    background-image: url(/src/assets/images/lj-closeup.jpg);
    background-position: scroll;
  }
}

@media only screen and (max-width: 767px) and (hover: none) {
  .contact, .learn-more {
    background-attachment: initial;
  }
}
/*# sourceMappingURL=styles.css.map */