@import 'mixins';
@import 'nav';
@import 'hero';
@import 'variables';
@import 'footer';
@import 'contact';
@import 'learnMore';

.hero{
    // @include flexCenter();
    // background: $primaryBG;
    // font-size: 300px;
    // height: 100vh;
    // z-index: 1;
}

header {
    background-color: transparent;
}

main {
    background: transparent !important;
    overflow-x: hidden;
}

.root {
    // overflow: hidden;
}

.App {
    background-color: transparent;
    overflow: hidden;
  }

.krIRUZ {
    z-index: 1 !important;
}

html {
    font-family: 'Open Sans', sans-serif;
    // overflow-x: hidden;
    // background-color: white;
    background: transparent !important;
}

body {
    // overflow-x: hidden;
    background: transparent !important;
    min-height: 100vh;
    // overscroll-behavior: none;
    // overflow-y: hidden;
}

body, html {
    height: 100%;
    // overflow-x: hidden;
}
  
  // background scroll styles

.wrapper {
    min-height: 100vh;
    font-family: 'Quicksand', sans-serif;
    line-height: 1.5;
    word-spacing: 4px;
    letter-spacing: 1px;
}
  /* first section */
  
  .bg-1 {
    background-image: url(/src/assets/images/lj-skew.jpg);
    // background-image: url(/src/assets/images/lightning-background.jpg);
  }
  
  /* third section */
  
  .bg-2 {
    background-image: url(/src/assets/images/outdoor-lj.jpg);
  }
  
  /* fifth section */
  
  .bg-3 {
    background-image: url(/src/assets/images/lj-closeup.jpg);
}

.fixed-bg {
    // overscroll-behavior: contain;
    overscroll-behavior: none;
    background-attachment: fixed;
    top: 0;
    left: 0;
    // background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 100vh; 
    width: 100%;
    z-index: -1;
    // color: white;
    color: #FFFFEA;
    text-align: center;
    display: table;
    opacity: .9;
    div {
        height: 100vh;
        min-height: 800px;
        @include flexCenter(column);
        align-items: center;
    }
    div h1 {
    }
    div p {
        max-width: 450px;
    }
  }
  
  .fixed-bg h1 {
    display: table-cell;
    vertical-align: middle;
    // color: #EAEAEA;
    font-size: 35px;
    @media (min-width: 658px){
        font-size: 60px;
    }
  }
  
  .scroll-bg {
    background-color: #0f0f0a;
    padding: 10px 30px;
    min-height: 55
    0px;
    height: 100vh;
    font-size: 15px;
    color: whitesmoke;
    @include flexCenter(column);
    justify-content: center;
    img {
        max-width: 250px;
    }
    p {
        @media (min-width: 658px) {
            padding: 0 0 0 50px;
        }
        max-width: 450px;
    }
    div h1 {
        @media (min-width: 658px) {
            padding: 0 0 0 50px;
        }
        
    }

    .video-container {
        max-width: 250px;
        // height: 100%;
        width: 100%;
        @media (min-width: 658px) {
            max-width: 450px;
            height: 350px;
        }
        div {
            @include flexCenter(column);
            max-height: 100%;
        }
    }

    @media (min-width: 658px) {
        flex-direction: row;
        padding: 20px 70px;
        img {
            max-width: 350px;
        }
    }
  }


.contact, .learn-more {
    /* Location of the image */
    background-image: url(/src/assets/images/lj-closeup.jpg);
    min-height: 100vh;
    // overflow: hidden;
    scroll-behavior: none;
    // z-index: 2;
    
    /* Image is centered vertically and horizontally at all times */
    background-position: center center;
    
    /* Image doesn't repeat */
    background-repeat: no-repeat;
    
    /* Makes the image fixed in the viewport so that it doesn't move when 
       the content height is greater than the image height */
    background-attachment: fixed;
    
    /* This is what makes the background image rescale based on its container's size */
    background-size: cover;
    
    /* Pick a solid background color that will be displayed while the background image is loading */
    // background-color:whitesmoke;
    opacity: .8;
    z-index: -1;
    
    /* SHORTHAND CSS NOTATION
     * background: url(background-photo.jpg) center center cover no-repeat fixed;
     */
  }
  
  /* For mobile devices */
  @media only screen and (max-width: 767px) {
    .contact, .learn-more {
      /* The file size of this background image is 93% smaller
       * to improve page load speed on mobile internet connections */
    //   background-image: url(images/background-photo-mobile-devices.jpg);
    background-image: url(/src/assets/images/lj-closeup.jpg);
    }
      }

      

